/.idea/
/search.iml
/app/app.exe
app/
viteApp/
app.exe
.vscode/settings.json
client/node_modules/
node_modules/
/app/
vitehome/dist/
vuehome/dist/
/vuehome/.nuxt
__debug_bin
election/src/
searchGin
gin.log
/gin.log
searchGin
searchGin-journal
