/.idea/
/search.iml
app/
viteApp/
.vscode/settings.json
/app/

election/src/
searchGin
gin.log
searchGin
viteHome/dist/**/*
viteHome/node_modules/

/vuehome/.nuxt
/vuehome/dist/
vuehome/node_modules/
election/node_modules/
searchapp/unpackage