/.idea/
/search.iml
app/
vapp/
.vscode/settings.json
/app/

election/node_modules/
searchGin
gin.log
searchGin
vitehome/dist/**/*
/vitehome/dist/
vitehome/node_modules/

/vuehome/.nuxt
/vuehome/dist/
vuehome/node_modules/
election/node_modules/
searchapp/unpackage
searchGin-journal
__debug_bin.exe
__debug_bin.exe
viteApp/appVite.exe
