.list-item {
    width: 240px;
    height: 400px;
    float: left;
    margin-right: 15px;
    list-style: none;
    margin-bottom: 0px;
}

.img-list-item {
    width: 200px;
    height: 320px;
}
.block{
    width: 200px;
    height: 300px;
}