<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>首页</title>
    <script src="static/1lib/vue/vue-dev.js"></script>
    <script src="static/1lib/vue/vue-router.js"></script>
    <script src="static/1lib/axios.min.js"></script>
    <script src="static/1lib/element/index.js"></script>
    <link rel="stylesheet" href="static/1lib/element/index.css"/>
    <link rel="stylesheet" href="static/1lib/element/theme-chalk/index.css"/>
    <link rel="stylesheet" href="static/css/index.css"/>
    <link rel="stylesheet" href="static/css/setting.css"/>

    <style>
        .el-menu-vertical-demo:not(.el-menu--collapse) {
            min-width: 60;
            max-width: 80;
            min-height: 400px;
        }

        .el-main {
            margin-left: 80px;
            margin-right: 80px;
        }

        .floatButton {
            float: right;
            position: fixed;
            width: 60;
            top: 300px;
            overflow: auto;
            z-index: 999;
        }
    </style>
</head>

<body>
<div id="msg" class="msg"></div>
<div id="appVue">
    <el-container>
        <el-header>
            <el-radio-group v-model="isCollapse">
                <el-radio-button :label="false">展</el-radio-button>
                <el-radio-button :label="true">收</el-radio-button>
            </el-radio-group>
            <el-menu
                    default-active="/home"
                    class="el-menu-vertical-demo"
                    @open="handleOpen"
                    @close="handleClose"
                    :collapse="isCollapse"
                    router
            >
                <el-menu-item index="/home">
                    <i class="el-icon-document"></i>
                    <span slot="title">打开</span>
                </el-menu-item>
                <el-menu-item index="/menu">
                    <i class="el-icon-menu"></i>
                    <span slot="title">目录</span>
                </el-menu-item>
                <el-menu-item index="/context">
                    <i class="el-icon-location"></i
                    ></el-menu-item>
                <el-menu-item index="/setting">
                    <i class="el-icon-setting"></i>
                    <span slot="title">设置</span>
                </el-menu-item>
            </el-menu>
        </el-header>
        <el-container>
            <el-main>
                <router-view></router-view>
                <input type="hidden" id="curTab" v-model="activeIndex"/>
            </el-main>
        </el-container>
        <el-backtop :bottom="100" style="width: 50px; height: 50px;">
            <div
                    style="
              height: 100%;
              width: 100%;
              background-color: #f2f5f6;
              box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
              text-align: center;
              line-height: 40px;
              color: #1989fa;
            "
            >
                UP
            </div>
        </el-backtop>
    </el-container>
</div>
<script src="static/js/inputVue.js"></script>
<script src="static/js/setting.js"></script>
<script src="static/js/home.js"></script>
<script src="static/js/menu.js"></script>
<script src="static/js/detail.js"></script>
<script src="static/js/router.js"></script>
<script src="static/js/appVue.js"></script>
</body>
</html>
